{% extends 'frame.html' %}

{% block title %}
<title>detail.html</title>
{% endblock title %}

{% block content %}
<!-- views.py : instance_detail_question라는 객체에는 question 테이블의 단일 내용이 입력되어 있음 // row-->
<!-- views.py : template에서는 instance_detail_question 대신 template_detail_question으로 지정되어 있음-->
<h1>{{ template_detail_question.question_text }} </h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<!--템플릿 함수 <% url / urlpattern / arguments_in_the_url %> : url의 app_name이 polls인 곳으로 찾아가고, path name이 vote인 곳으로 이동하되, 
    template_detail_question에 할당된 id(primary key)값을 인자값에 가지고 가라-->
<form action="{% url 'polls:vote' template_detail_question.id %}" method="post">

{% csrf_token %}

<!-- template_detail_question이 대상 테이블(이 경우 choice)과 연결(Foreignkey)되어 있는 경우, 대상 테이블(choice)에 설정된 DB값을(aaa.bbb_set)을 모두 가져와라(aaa.bbb_set.all)-->
{% for choice in template_detail_question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}"/>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}

<input type="submit" value="vote" />
</form>
{% endblock content %}